button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color_border-button;
	border-radius: .25em;
	background: $color_button;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	padding: .45em .75em .5em;

	&:hover {
		border-color: $color_border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color_border-button-focus;
	}
}
