/* # General page layout
------------------------------------------*/
.site-header,
.site-content,
.site-footer {
	padding: 0 $line-spacing;
}

.site-branding {
	margin-bottom: 1.5em;

	.site-title {
		margin: 0;
	}
}

.site-title a {
	// emulate H1 styles
	font-size: ms(4);
	font-family: $font_heads;
	font-weight: bold;
	// WCAG 2.0 AA - only good for large type
	color: shade($blue, 20%);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.site-description {
	font-family: $font_heads;
	font-style: italic;
	font-size: ms(2);
	// WCAG 2.0 AA - only good for large type
	color: shade($blue, 20%);
	margin: 0;
}

.site-footer {
	font-size: .875em;
}

.site-main {
	margin: 0 auto;
	max-width: 60em;
}

.content-area {
	// main content
	max-width: 36em;
	margin: 0 auto;

	&.w-sidebar {
		@media screen and (min-width: $break-2col) {
			float: left;
			width: 64%;
		}
	}
}

.widget-area {
	// sidebars

	@media screen and (min-width: $break-2col) {
		float: right;
		width: 33%;
		max-width: 16em;
	}
}

/* # other WP classes
------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.site-title,
h1.page-title,
h1.entry-title {
	// WCAG 2.0 AA - only good for large type
	color: shade($blue, 20%);
}

.entry-title {
	a {
		color: $brown;
		text-decoration: none;

		&:hover,
		&focus {
			text-decoration: underline;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.post-thumbnail {
	@media screen and (max-width: $break-2col) {
		margin: 0 -1.5em;
	}

	@media screen and (min-width: $break-md) {
		margin: 0 -1.5em;
	}

	@media screen and (min-width: $break-lg) {
		margin: 0 -5em;
	}
}

.cat-links,
.tags-links,
.comments-link,
.edit-link {
	display: block;
	// font-size: .875em;
	margin-bottom: 1em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* # Post format = "Status"
------------------------------------------*/
.format-status {
	padding-top: 1.5rem;

	.entry-meta {
		font-family: $font_casual;
		font-size: ms(1);
		text-align: right;
		margin-top: 1rem;
	}

	.entry-content p,
	.entry-content ol,
	.entry-content ul {
		font-family: $font_casual;
		font-size: ms(2);
		margin-bottom: 1.5rem;
	}

	.tags-links {
		font-family: $font_casual;
		font-size: ms(1);
		margin-top: -1.5rem;
		margin-bottom: 1.5rem;
	}
}
.status-note {
	position: relative;
	transform: rotate(-7deg);
	transform-style: preserve-3d;
	max-width: 425px;
	margin: 2em auto 1.5em;
	padding: 0 1.5rem;
	background-color: #f9f98e;
	border: 1px solid #f9f98e;
	border-bottom-color: rgba(0,0,0,.2);

	&:after {
		z-index: -1;
		position: absolute;
		display: inline-block;
		content: "";
		bottom: 15px;
		right: 10px;
		left: auto;
		width: calc(100% - 20px);
		top: 80%;
		background: rgba(0,0,0,.5);
		box-shadow: 0 15px 10px rgba(0,0,0,.5);
		transform: translateZ(-1em);
	}
}
