/* # Main Pallette
------------------------------------------*/
$blue:   #00a0b0;
$brown:  #6a4a3c;
$red:    #cc333f;
$orange: #eb6841;
$yellow: #edc951;

/* # Derived Colors
------------------------------------------*/
$text:                 shade($brown, 25%);
$text-pre:             shade($brown, 35%);
$text-input:           #666;
$text-input-focus:     #111;
$color_link:           $red;
$color_link-visited:   $red;
$color_link-hover:     $red;

$color_background:     tint($brown, 95%);
$color_background-alt: tint($brown, 80%);
$color_background-hr:  #ccc;
$color_button:         $red;
$color_background-pre: tint($brown, 80%);
$color_background-ins: tint($yellow, 50%);

$color_border-button:  shade($red, 25%) shade($red, 25%) shade($red, 40%);
$color_border-button-hover: shade($red, 25%) shade($red, 40%) shade($red, 50%);
$color_border-button-focus: shade($red, 50%) shade($red, 40%) shade($red, 40%);;
$color_border-input:   #ccc;
$color_border-abbr:    $red;
